@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<div class="alert alert-danger" role="alert">
		Error: Something went wrong
	</div>
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		This is my final warning!!!
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

	<p>
		<button type="button" class="btn btn-outline-primary">Primary</button>
		<button type="button" class="btn btn-secondary">Secondary</button>
		<button type="button" class="btn btn-success btn-lg">Success</button>
		<button type="button" class="btn btn-danger">Danger</button>
		<button type="button" class="btn btn-warning">Warning</button>
		<button type="button" class="btn btn-info">Info</button>
		<button type="button" class="btn btn-light">Light</button>
		<button type="button" class="btn btn-dark">Dark</button>

		<button type="button" class="btn btn-link">Link</button>

		<span class="btn btn-primary">Google.com</span>
	</p>
</div>
