@model ContactModel
@{
	ViewData["Title"] = "Contact";
}
<form method="post">
	<div>
		<label asp-for="FirstName" style="width: 120px;">First Name:</label>
		<input asp-for="FirstName" placeholder="First name" />
	</div>
	<div>
		<label asp-for="LastName" style="width: 120px;">Last Name:</label>
		<input asp-for="LastName" placeholder="Enter yout last name" />
	</div>
	<div>
		<label asp-for="Email" style="width: 120px;">Personal Email:</label>
		<input asp-for="Email" type="email" placeholder="Email" />
	</div>
	<div>
		<button type="submit">Submit</button>
	</div>
</form>