@*@{
		TempData.Keep("msg");
	}
	<p>
		Message from TempData["msg"]: /<b>@TempData.Peek("msg")</b>/
	</p>*@

<p>
	Message from TempData["msg"]: /<b>@TempData.Peek("msg")</b>/
</p>

<p>
	(Refresh the page to see that the message is gone)
</p>