ul {
  list-style: none; }
  ul li {
    padding: 0; }
    ul li a {
      color: red; }

p {
  color: red; }

a {
  color: red; }

/* Define a mixin */
/* Use a Mixin in multiple places */
.description {
  font-weight: 300;
  line-height: 1.2;
  color: red; }

.comment {
  font-weight: 300;
  line-height: 1.2;
  color: grey; }
